.blog{
  background-color: aqua;
  padding: 20px;
  margin: 15px;
}
h2{
  background-color: blue;
  margin: 20px;
  padding: auto;
  align-items: center;
  text-align: center;
}
/* mobile{
  background-color: chartreuse;
} */